*{
 font-family: monospace;
}
.center{
  text-align: center;
  margin-bottom: 1rem;
}
strong{
 font-weight: normal;
}
.flexParent{
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
}
.printProducts{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.printProductName {
  flex: 2;
}
.printProductPrice{
  margin-right: 8px;
  flex: 1;
}
.printProductQty{
  margin-right: 8px;
  flex: 1;
}
.printProductAmount{
  flex: 1;
  text-align: right;
}
.printBottomTotal{
  display: flex;
  margin-bottom: 1rem;
}
.printBottomLabel{
  flex: 7;
}
.printBottomValue{
  flex: 1;
  text-align: right;
}
.date{
  margin-left: auto
}
@media only print {
  .printButton{
    display: none
  }
}
